/* ==========================================================================
   Paths
   ========================================================================== */
.l-container.example.s-active .button {
  background-color: #00ccff;
  display: block;
  line-height: 42px;
}
.lt-ie8 .l-container.example.s-active .button {
  height: 42px;
}
/* ==========================================================================
   Breakpoints
   ------------------------- 
   Source: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
   ========================================================================== */
/* ========================================================================== */
/*
   element{
   
   		styless
   		
   		@media @mobile {
   		}
   		@media @tablet @highdensity{
   		}
   		@media @desktop {
   		}
   		@media @desktop-xl {
   		}
   	
   }
   */
/* ==========================================================================
      Fonts
      ========================================================================== */
@font-face {
  font-family: 'MOAM91';
  src: url('fonts/fonts/MOAM91_light.eot');
  /* IE9 Compat Modes */
  src: url('fonts/MOAM91_light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/MOAM91_light.woff') format('woff'), /* Modern Browsers */ url('fonts/MOAM91_light.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/MOAM91_light.svg#1def069febbf5fc41694b18523b67a7e') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Museo Sans 300';
  src: url('fonts/MuseoSans-300.eot');
  /* IE9 Compat Modes */
  src: url('fonts/MuseoSans-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/MuseoSans-300.woff') format('woff'), /* Modern Browsers */ url('fonts/MuseoSans-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/MuseoSans-300.svg#83308de0ca4237e6cd44fbae61d13495') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Visby CF';
  src: url('fonts/VisbyCF-Light.eot');
  /* IE9 Compat Modes */
  src: url('fonts/VisbyCF-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/VisbyCF-Light.woff') format('woff'), /* Modern Browsers */ url('fonts/VisbyCF-Light.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/VisbyCF-Light.svg#be1dfcf09435eecaffe5d1ba5ecf9eb0') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Visby CF Medium';
  src: url('fonts/VisbyCF-Medium.eot');
  /* IE9 Compat Modes */
  src: url('fonts/VisbyCF-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/VisbyCF-Medium.woff') format('woff'), /* Modern Browsers */ url('fonts/VisbyCF-Medium.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/VisbyCF-Medium.svg#3ae62bd5b7268d651203b3a1af56ccb4') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
/* 2D TRANSITIONS */
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* ==========================================================================
   Materialize Theme
   ========================================================================== */
[type="checkbox"]:checked + label:before {
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
}
.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #ff671b;
}
.switch label input[type=checkbox]:checked + .lever {
  background-color: #e65100;
}
select:focus {
  outline: none;
}
