/* ==========================================================================
   Paths
   ========================================================================== */
.l-container.example.s-active .button {
  background-color: #00ccff;
  display: block;
  line-height: 42px;
}
.lt-ie8 .l-container.example.s-active .button {
  height: 42px;
}
/* ==========================================================================
   Breakpoints
   ------------------------- 
   Source: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
   ========================================================================== */
/* ========================================================================== */
/*
   element{
   
   		styless
   		
   		@media @mobile {
   		}
   		@media @tablet @highdensity{
   		}
   		@media @desktop {
   		}
   		@media @desktop-xl {
   		}
   	
   }
   */
/* ==========================================================================
   Custom Icons Font - http://fontello.com
   ========================================================================== */
@font-face {
  font-family: 'fontello';
  src: url('../fontello/fontello.eot?55123958');
  src: url('../fontello/fontello.eot?55123958#iefix') format('embedded-opentype'), url('../fontello/fontello.woff?55123958') format('woff'), url('../fontello/fontello.ttf?55123958') format('truetype'), url('../fontello/fontello.svg?55123958#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
/*fontello-codes.css*/
.icon-heart:before {
  content: '\e800';
}
/* '' */
.icon-star:before {
  content: '\e801';
}
/* '' */
.icon-star-half-alt:before {
  content: '\e802';
}
/* '' */
.icon-ok-circled:before {
  content: '\e803';
}
/* '' */
.icon-mail-alt:before {
  content: '\e804';
}
/* '' */
.icon-cancel:before {
  content: '\e805';
}
/* '' */
.icon-plus:before {
  content: '\e806';
}
/* '' */
.icon-info-circled:before {
  content: '\e807';
}
/* '' */
.icon-help-circled:before {
  content: '\e808';
}
/* '' */
.icon-direction:before {
  content: '\e809';
}
/* '' */
.icon-comment:before {
  content: '\e80a';
}
/* '' */
.icon-attention-circled:before {
  content: '\e80b';
}
/* '' */
.icon-menu:before {
  content: '\e80c';
}
/* '' */
.icon-ellipsis-vert:before {
  content: '\e80d';
}
/* '' */
.icon-ellipsis:before {
  content: '\e80e';
}
/* '' */
.icon-twitter:before {
  content: '\e80f';
}
/* '' */
.icon-facebook-official:before {
  content: '\e810';
}
/* '' */
.icon-whatsapp:before {
  content: '\e811';
}
/* '' */
.icon-instagram:before {
  content: '\e812';
}
/* '' */
.icon-share:before {
  content: '\e813';
}
/* '' */
.icon-share-squared:before {
  content: '\e814';
}
/* '' */
.icon-angle-left:before {
  content: '\e815';
}
/* '' */
.icon-angle-right:before {
  content: '\e816';
}
/* '' */
.icon-angle-up:before {
  content: '\e817';
}
/* '' */
.icon-angle-down:before {
  content: '\e818';
}
/* '' */
/*NORMALIZE CSS/////////////////////////////////////////////////////////////
///////////////////////////////////////////////////*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*GENERAL HACKS/////////////////////////////////////////////////////////////
///////////////////////////////////////////////////*/
* {
  outline: none;
}
html,
body {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #424242;
}
.body-no-overflow {
  overflow: hidden;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
}
.fix-ios-shadow {
  -webkit-border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px;
  -moz-background-clip: padding;
  border-radius: 1px;
  background-clip: padding-box;
}
.zero-auto {
  margin: 0 auto !important;
  position: relative !important;
  float: none !important;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix {
  width: 100%;
  height: 0;
  clear: both;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
input:focus:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
hr {
  height: 1px;
  background: #eceff1;
  border: none;
  display: block;
}
.clear-pad-marg {
  margin: 0 !important;
  padding: 0 !important;
}
.border-box {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.content-box {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
/* UI /////////////////////////////////////////////////////////////
///////////////////////////////////////////////////*/
#conect-action-btn {
  width: 100%;
  height: 48px;
  background: #d50000;
  position: fixed;
  left: 0;
  bottom: 0;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.4);
  zoom: 1;
  filter: alpha(opacity=90);
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  z-index: 999;
}
@media only screen and (min-width: 769px) {
  #conect-action-btn {
    font-weight: 300;
  }
}
#main-top-nav {
  width: 100%;
  height: 64px;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}
#main-top-nav.transparent-nav {
  background: rgba(255, 255, 255, 0.85);
}
#main-top-nav .main-logo {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 18px;
}
#main-hero {
  width: 100%;
  height: 320px;
  background: #f5f5f5 url('../images/main-hero-fish.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 0;
  position: relative;
}
#main-hero .gradient-o {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9InJnYigwLCAwLCAwKSIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0icmdiKDAsMCwwKSIgc3RvcC1vcGFjaXR5PSIwIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 50%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 50%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 50%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 50%);
}
#main-hero .pm-logo {
  width: 110px;
  height: 110px;
  position: absolute;
  left: 50%;
  top: 48%;
  background: rgba(255, 255, 255, 0.85);
  margin-left: -50px;
  margin-top: -50px;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  padding: 5px;
  display: table;
}
#main-hero .pm-logo .center-logo {
  max-width: 100px;
  max-height: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#main-hero .pm-logo .center-logo img {
  max-width: 90px;
  max-height: 90px;
}
#main-hero .partner-logo {
  width: 70px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 80px;
}
@media (max-width: 320px) {
  #main-hero .partner-logo {
    width: 50px;
  }
}
#main-hero .pm-info {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
#main-hero .pm-info h1 {
  padding: 10px 10px 10px 18px;
  margin: 0;
  font-weight: 100;
  color: white;
  letter-spacing: 1px;
  font-size: 26px;
}
#main-hero .pm-info h1 span {
  float: right;
}
#main-hero .pm-info h1 span i {
  font-size: 8px;
  color: gray;
}
#main-hero .pm-info h1 span i.voted-star {
  color: #ffd600;
}
#main-hero .pm-info .tab-btn {
  color: white;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  padding: 8px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
#main-hero .pm-info .tab-btn.actv-page {
  background: #263238;
}
#main-hero .pm-info .tab-btn:last-child {
  border: none;
}
#main-hero .pm-info .tab-btn.offbtn {
  background: #212121;
  color: #212121;
}
.sucursal-select {
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: hidden;
  background-color: #40c4ff;
  background: #40c4ff url("../images/arrowdown.gif") no-repeat 95% 50%;
  font-weight: 200;
  font-size: 18px;
  line-height: 39px;
  padding-left: 10px;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  color: white;
}
.sucursal-select select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.sucursal-select select option:active,
.sucursal-select select option:checked {
  color: white;
}
.sucursal-select select option {
  color: gray;
}
.sucursal-select select optgroup {
  color: black;
}
.sucursal-select select:focus {
  outline: none;
}
.pm-description {
  background: white;
  padding: 15px;
}
.pm-description p {
  color: #757575 !important;
  margin: 0;
}
.social-bar-bx {
  background: #f5f5f5;
  padding: 15px;
  text-align: center;
}
.social-bar-bx p {
  margin: 0;
  color: gray !important;
}
.social-bar-bx p i {
  color: gray !important;
}
.schedule-bx {
  background: #263238;
  padding: 0;
  overflow: hidden;
}
.schedule-bx p {
  color: #b0bec5;
}
.schedule-bx p em {
  display: block;
  width: 100%;
  height: auto;
  border-top: 1px solid #546e7a;
  text-align: center;
  padding: 10px 0 0 0;
}
.schedule-bx div:last-child {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.23);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.23);
}
.sec-title-bar {
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: hidden;
  background-color: #40c4ff;
  font-weight: 200;
  color: white;
  font-size: 18px;
  line-height: 50px;
  padding-left: 10px;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.comments-bx {
  margin: 0;
  padding: 0;
}
.comments-bx .comment-bx {
  width: 100%;
  height: 52px;
  background-color: #eeeeee !important;
  color: #757575 !important;
}
.comments-bx .comment-bx .avatar-c-bx {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  display: block;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  margin: 6px 0 0 10px;
  float: left;
}
.comments-bx .comment-bx .avatar-c-bx img {
  width: 100%;
  height: auto;
}
.comments-bx .comment-bx .user-mention {
  padding: 3px 0 0 10px;
  float: left;
}
.comments-bx .comment-bx .comment-date {
  float: right;
  line-height: 50px;
  padding-right: 20px;
  font-style: italic;
  font-size: 10px;
}
.comments-bx .comment-input {
  background: white;
  color: #757575 !important;
}
.comments-bx .comment-input p {
  padding: 20px 20px 20px 40px;
  margin: 0;
  border-left: 4px solid #37474f;
}
.wifi-footer {
  background: #40c4ff;
  color: white;
  padding: 15px 10px 15px 10px;
  text-align: center;
  border-top: 10px solid #3ab4ea;
}
.wifi-footer p {
  margin: 0;
  font-size: 10px;
}
.not-connected {
  width: 100%;
  height: 48px;
}
.md-overlay {
  z-index: 9998;
}
.nifty-modal {
  z-index: 9999;
  width: 90%;
  max-width: 630px;
  min-width: 300px;
}
.md-content .md-title {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  padding: 20px;
}
.md-content .md-title h5 {
  margin: 0;
  font-size: 20px;
}
.question-btn {
  padding: 0 30px;
}
.url-modal-close {
  text-decoration: none;
  padding: 22px 10px;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.url-modal-close.opened-url {
  visibility: visible;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.url-modal-close i {
  color: #40c4ff;
  font-size: 18px;
  text-decoration: none;
}
.back-navigation {
  text-decoration: none;
  padding: 20px 8px;
  position: absolute;
  left: 0;
  top: 0;
  background: #f5f5f5;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.back-navigation i {
  color: #40c4ff;
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
}
#url-modal {
  width: 100%;
  height: 0px;
  position: fixed;
  left: 0;
  top: 100%;
  background: red;
  z-index: 998;
  background: white;
}
#url-modal #url-modal-frame {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
#url-modal #url-modal-frame iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 64px;
  border: none;
  outline: none;
}
#products-wrapper-bx {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.product-bx {
  padding: 0;
  background: white;
}
.product-bx .product-img {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.product-bx .product-img img {
  width: 80px;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}
.product-bx .product-img .skw-ribbon {
  width: auto;
  height: auto;
  -webkit-transform: skewX(30deg);
  -moz-transform: skewX(30deg);
  -o-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  transform: skewX(30deg);
  position: absolute;
  right: -15px;
  top: 0;
  background: red;
  zoom: 1;
  filter: alpha(opacity=80);
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.product-bx .product-img .skw-ribbon span {
  display: block;
  color: white;
  text-transform: uppercase;
  -webkit-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  transform: skewX(-30deg);
  padding: 0 20px 0 10px;
  font-size: 10px;
  padding-top: 2px;
}
.product-bx .product-info {
  padding-left: 90px;
  padding-right: 0px;
}
.product-bx .product-info h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #424242;
  margin: 5px 0;
  padding-right: 10px;
}
@media (min-width: 600px) and (max-width: 750px) {
  .product-bx .product-info h1 {
    font-size: 16px;
  }
}
.product-bx .product-info p {
  height: 44px;
  font-size: 10px;
  color: #616161;
  margin: 5px 0 0 0;
  padding-right: 10px;
  overflow: hidden;
}
@media (min-width: 600px) and (max-width: 750px) {
  .product-bx .product-info p {
    font-size: 12px;
  }
}
.product-bx .more-info {
  margin-top: 9px;
}
.product-bx .more-info .rating-bx {
  width: 50%;
  height: 34px;
  float: left;
  padding: 5px 0;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #e0e0e0;
  background: #eeeeee;
}
.product-bx .more-info .rating-bx .voted-star {
  color: #ffc400;
}
.product-bx .more-info .price-bx {
  width: 50%;
  height: 34px;
  float: left;
  background: #424242;
  text-align: center;
  color: white;
  padding: 5px 0;
  line-height: 24px;
}
.loading-more {
  background: #455a64;
  text-align: center;
  color: white;
  display: block;
}
.loading-more span {
  padding: 15px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 12px;
}
#collections-bx {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
#collections-bx .collection-bx {
  overflow: hidden;
  padding: 10px;
  background: #263238;
}
@media (min-width: 600px) and (max-width: 968px) {
  #collections-bx .collection-bx {
    width: 50%;
  }
}
#collections-bx .collection-bx .collection-contents img {
  width: 100%;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
}
#collections-bx .collection-bx .collection-contents .skw-ribbon {
  width: auto;
  height: auto;
  position: absolute;
  right: 10px;
  top: 10px;
  background: red;
  zoom: 1;
  filter: alpha(opacity=80);
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
#collections-bx .collection-bx .collection-contents .skw-ribbon span {
  display: block;
  color: white;
  text-transform: uppercase;
  padding: 0 10px 0 5px;
  font-size: 14px;
}
#collections-bx .collection-bx .collection-contents .skw-ribbon :after {
  content: " ";
  position: absolute;
  display: block;
  width: 10px;
  height: 100%;
  top: 0;
  left: -7px;
  z-index: -1;
  border-right: 20px solid red;
  transform-origin: bottom left;
  -ms-transform: skew(30deg, 0deg);
  -webkit-transform: skew(30deg, 0deg);
  transform: skew(30deg, 0deg);
}
#collections-bx .collection-bx .collection-contents .coll-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9InJnYigwLCAwLCAwKSIgc3RvcC1vcGFjaXR5PSIwLjciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9InJnYigwLDAsMCkiIHN0b3Atb3BhY2l0eT0iMCIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
}
#collections-bx .collection-bx .collection-contents .coll-info {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 25px 25px;
  color: #fdfdfd;
  font-size: 24px;
  font-weight: 100;
}
#collections-bx .collection-bx .collection-contents .coll-info small {
  color: #ff6d00;
  font-size: 18px;
  font-weight: 100;
}
#collections-bx .collection-bx .collection-contents .coll-info p {
  font-size: 12px;
  margin: 0;
  color: #cfd8dc;
  font-style: italic;
}
#collections-bx .collection-bx .collection-contents .coll-info p span {
  color: #607d8b;
  text-decoration: underline;
}
#collections-bx .collection-bx .collection-contents button {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: none;
  border: none;
  outline: none;
}
@media (max-width: 320px) {
  .md-body {
    padding: 15px 20px 30px;
  }
  .md-body ul {
    font-size: 12px;
  }
}
#colection-listing {
  padding-top: 64px;
}
#gotomenu {
  height: 8px;
}
.id-modal-bx {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 15px;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99;
  padding: 20px;
}
.id-modal-bx form {
  color: white;
}
.id-modal-bx form input {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  margin: 3px;
  border: 1px solid #ccc;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.id-modal-bx .input-field {
  text-align: center;
}
.id-modal-bx .input-field small {
  font-size: 8px;
}
.id-modal-bx .s12 {
  width: 100%;
  height: auto;
}
.md-login-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999999;
  display: none;
}
.md-login-overlay #login-modal-bx {
  width: 300px;
  height: auto;
  background: #eceff1;
  display: block;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.9);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.9);
}
.md-login-overlay #login-modal-bx p {
  margin: 5px 18px 15px 18px;
  font-size: 16px;
  font-weight: bold;
  color: #757575;
}
.md-login-overlay #login-modal-bx p small {
  font-size: 10px;
  font-weight: normal;
  font-style: italic;
}
.md-login-overlay #login-modal-bx form input {
  width: 100%;
  height: auto;
  margin: 5px 0;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
}
.md-login-overlay #login-modal-bx form#login-form-tab,
.md-login-overlay #login-modal-bx form#register-form-tab {
  display: none;
}
.md-login-overlay #login-modal-bx .btn {
  width: 100%;
  height: auto;
  margin: 5px 0;
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
}
.md-login-overlay #login-modal-bx .btn-xs {
  color: gray;
}
.md-logedin-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999999;
  display: none;
}
.md-logedin-overlay #logedin-modal-bx {
  width: 300px;
  height: auto;
  background: #eceff1;
  display: block;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.9);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.9);
}
.md-logedin-overlay #logedin-modal-bx .validation-timer {
  text-align: center;
  letter-spacing: 2px;
  border-left: 4px solid #b71c1c;
  color: #212121;
  background: #cfd8dc;
}
.md-logedin-overlay #logedin-modal-bx p {
  margin: 5px 18px 15px 18px;
  font-size: 18px;
  font-weight: bold;
  color: #757575;
  text-align: center;
}
.md-logedin-overlay #logedin-modal-bx p small {
  font-size: 12px;
  font-weight: normal;
}
.md-logedin-overlay #logedin-modal-bx p.small-lh {
  padding-top: 10px;
  line-height: 12px;
}
.md-logedin-overlay #logedin-modal-bx form input {
  width: 100%;
  height: auto;
  margin: 5px 0;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
}
.md-logedin-overlay #logedin-modal-bx form select {
  width: 100%;
  height: 35px;
  border: 1px solid #bdbdbd;
  margin-bottom: 5px;
  color: gray;
}
.md-logedin-overlay #logedin-modal-bx .btn {
  width: 100%;
  height: auto;
  margin: 5px 0;
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
}
.md-logedin-overlay #logedin-modal-bx .btn.close-valdtn {
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0);
  color: #757575;
}
.md-logedin-overlay #logedin-modal-bx .btn-xs {
  color: gray;
}
.md-logedin-overlay #logedin-modal-bx .notme-wtf {
  width: 100%;
  text-align: center !important;
  margin: 0 auto;
  font-size: 10px;
  float: none;
  clear: both;
  display: inline-block;
  text-decoration: underline;
  color: #37474f;
  margin-top: 0;
  font-style: italic;
}
.md-logedin-overlay #validate-modal-bx {
  width: 300px;
  height: auto;
  background: #eceff1;
  display: block;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.9);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.9);
  display: none;
}
.md-logedin-overlay #validate-modal-bx .validation-timer {
  text-align: center;
  letter-spacing: 2px;
  border-left: 4px solid #b71c1c;
  color: #212121;
  background: #cfd8dc;
}
.md-logedin-overlay #validate-modal-bx p {
  margin: 5px 18px 15px 18px;
  font-size: 18px;
  font-weight: bold;
  color: #757575;
  text-align: center;
}
.md-logedin-overlay #validate-modal-bx p small {
  font-size: 12px;
  font-weight: normal;
}
.md-logedin-overlay #validate-modal-bx p.small-lh {
  padding-top: 10px;
  line-height: 12px;
}
.md-logedin-overlay #validate-modal-bx .btn {
  width: 100%;
  height: auto;
  margin: 5px 0;
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
}
.materialized-prize {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}
.materialized-prize p {
  font-size: 16px !important;
  padding: 0px 25px;
}
.materialized-prize p b {
  font-size: 20px !important;
}
.materialized-prize .modal-contents {
  max-width: 420px;
  background: white;
  margin: 20px;
  display: block;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.8);
  position: relative;
}
@media (min-width: 440px) {
  .materialized-prize .modal-contents {
    margin: 20px auto;
  }
}
.materialized-prize .close-product {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  background: black;
  z-index: 999;
  cursor: pointer;
}
.materialized-prize .close-product i {
  color: white;
  font-size: 18px;
  padding: 10px;
}
.materialized-prize .image-post {
  width: 100%;
  height: auto;
  max-width: 420px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
  margin: 0 auto;
  display: block;
}
.materialized-prize .crop-img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  overflow: auto;
  background: #424242;
}
.materialized-prize .coupon-id {
  text-align: center;
  background: #9e9e9e;
  color: white;
  padding: 3px 10px;
  font-weight: bold;
}
.materialized-prize .coupon-id small {
  font-size: 10px;
  padding: 0px 20px;
  margin: 0;
}
