/* ==========================================================================
   Paths
   ========================================================================== */
/* ==========================================================================
   Breakpoints
   ------------------------- 
   Source: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
   ========================================================================== */
/* ========================================================================== */
/*
   element{
   
   		styless
   		
   		@media @mobile {
   		}
   		@media @tablet @highdensity{
   		}
   		@media @desktop {
   		}
   		@media @desktop-xl {
   		}
   	
   }
   */
* {
  font-weight: 300;
}
.ui-pnotify {
  left: 0 !important;
}
.ui-pnotify .btn {
  margin-bottom: 0 !important;
  color: #eeeeee;
  background-color: #9e9e9e;
}
.ui-pnotify .btn:hover {
  background-color: #616161;
}
.alertBox {
  width: 100% !important;
  background: #eceff1 !important;
  top: 0 !important;
  color: #757575;
  left: 0 !important;
  opacity: .9;
}
.alertBox .ui-pnotify-icon {
  font-size: 18px;
  padding: 10px;
  padding-top: 5px !important;
  color: #9e9e9e;
}
@media (min-width: 300px) and (max-width: 640px) {
  .alertBox .ui-pnotify-icon {
    padding: 8px;
  }
}
.alertBox h4 {
  font-size: 26px;
  line-height: 28px;
  margin-right: 35px;
  margin-left: 38px;
}
@media (min-width: 300px) and (max-width: 640px) {
  .alertBox h4 {
    padding-top: 5px;
    font-size: 22px;
    line-height: 26px;
  }
}
.alertBox .ui-pnotify-text {
  padding-top: 5px;
  padding-left: 38px;
  padding-right: 35px;
  padding-bottom: 20px;
}
.alertBox .ui-pnotify-title {
  margin-bottom: 0 !important;
}
.alertBox .ui-pnotify-closer {
  font-size: 18px;
  padding: 12px;
  display: block;
  visibility: visible !important;
}
.alertBox .ui-pnotify-sticker {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}
.alertBox .promptInputBx {
  width: 65%;
  margin-left: 38px;
  clear: both;
  display: block;
  border-bottom: 1px solid #9e9e9e !important;
}
@media (min-width: 300px) and (max-width: 640px) {
  .alertBox .promptInputBx {
    width: 85%;
  }
}
.alertBox .promptInputBx:focus {
  border-bottom: 1px solid #bdbdbd !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.alertBox.promptBox .ui-pnotify-text {
  padding-bottom: 0px !important;
}
.alertBox.promptBox button {
  margin-top: 20px !important;
}
.alertBox.confirmBx h4 {
  margin-right: 0px;
}
.alertBox.confirmBx .ui-pnotify-text {
  padding-right: 0;
}
.alertBox input.passInput {
  -webkit-text-security: disc;
}
.blackAlertBx {
  background: black !important;
  color: white;
  opacity: .9;
  border: 1px solid black;
}
.blackAlertBx .ui-pnotify-title,
.blackAlertBx .ui-pnotify-icon {
  color: white;
}
.blackAlertBx .ui-pnotify-text {
  color: #fafafa !important;
}
.blackAlertBx .btn {
  color: #fafafa;
  background-color: #616161;
}
.blackAlertBx .btn:hover {
  color: white;
  background-color: #212121;
}
.errorAlertBx {
  background: #b71c1c !important;
  color: white;
  opacity: .9;
}
.errorAlertBx .ui-pnotify-title,
.errorAlertBx .ui-pnotify-icon {
  color: white;
}
.errorAlertBx .ui-pnotify-text {
  color: #fafafa !important;
}
.errorAlertBx .btn {
  color: #fafafa;
  background-color: #e53935;
}
.errorAlertBx .btn:hover {
  color: white;
  background-color: #d32f2f;
}
.errorAlertBx .promptInputBx {
  border-bottom: 1px solid #e0e0e0 !important;
}
.errorAlertBx .promptInputBx:focus {
  border-bottom: 1px solid white !important;
}
.successAlertBx {
  background: #00c853 !important;
  color: white;
  opacity: 1;
}
.successAlertBx .ui-pnotify-title,
.successAlertBx .ui-pnotify-icon {
  color: white;
}
.successAlertBx .ui-pnotify-text {
  color: white !important;
}
.successAlertBx .btn {
  color: #fafafa;
  background-color: #00e676;
}
.successAlertBx .btn:hover {
  color: white;
  background-color: #64dd17;
}
.successAlertBx .promptInputBx {
  border-bottom: 1px solid #e0e0e0 !important;
}
.successAlertBx .promptInputBx:focus {
  border-bottom: 1px solid white !important;
}
/*GENERAL HACKS/////////////////////////////////////////////////////////////
///////////////////////////////////////////////////*/
nav {
  background-color: transparent !important;
}
.dark-select input.select-dropdown,
.dark-select .mdi-navigation-arrow-drop-down {
  color: white;
}
.zero-auto {
  margin: 0 auto !important;
  position: relative !important;
  float: none !important;
}
.smallFa {
  font-size: 16px !important;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.bigFAicon {
  font-size: 16px !important;
}
.clearfix {
  width: 100%;
  height: 0;
  clear: both;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
input:focus:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.ui-ios-overlay {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
hr {
  height: 1px;
  background: #eceff1;
  border: none;
  display: block;
}
.brand-logo {
  line-height: 0;
  margin: 13px 0 0 30px;
}
@media only screen and (max-width: 992px) {
  .brand-logo {
    margin: 0px;
  }
}
.brand-logo-indexFile {
  line-height: 0;
  margin: 13px 0 0 0 !important;
  display: inline-block;
}
@media only screen and (max-width: 640px) {
  .brand-logo-indexFile {
    margin: 11px 0 0 0;
  }
}
.login-btns a {
  width: 100%;
  color: white;
}
.login-btns.midd-w {
  text-align: center;
}
.login-btns.midd-w a {
  width: 43%;
  display: inline-block;
  float: none;
}
@media only screen and (max-width: 768px) {
  .login-btns.midd-w a {
    width: 100%;
    clear: both;
  }
}
.login-btns .midd-w-a {
  width: 40% !important;
  margin: 0 5% 20px 5%;
  float: left;
}
.prefix {
  color: gray;
}
.white-btn-txt {
  color: white !important;
}
.button-collapse {
  padding: 0 10px;
}
.hide-on {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -200%;
  overflow: hidden;
  opacity: 0;
  z-index: -99999;
}
.userAvatar {
  display: inline-block;
  vertical-align: middle;
  margin: 30px auto;
  display: block;
  -webkit-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  -moz-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
}
.brandWiFiX {
  -webkit-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  -moz-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  width: 145px;
  height: 145px;
  background: white;
  border: 5px solid transparent;
  margin: -72px 0 0 -72px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 888;
  text-align: center;
  line-height: 135px !important;
  cursor: default;
}
@media only screen and (max-width: 400px) {
  .brandWiFiX {
    margin: -82px 0 0 -72px;
  }
}
.brandWiFiX .userAvatar {
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.brandsPic {
  text-align: center;
}
.brandsPic a {
  width: 143px;
  height: 143px;
  -webkit-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  -moz-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  margin: 30px;
  display: inline-block;
  padding: 10px;
  background: white;
  text-align: center;
  line-height: 115px;
}
.brandsPic a img {
  left: 0;
  display: inline-block;
  vertical-align: middle;
  max-height: 120px;
  max-width: 120px;
}
.clear-pad-marg {
  margin: 0 !important;
  padding: 0 !important;
}
.border-box {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.content-box {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.full-tabs-wrapper {
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 15px !important;
}
.nav-wrapper {
  height: 64px;
}
.adminNavBar {
  background-color: rgba(38, 50, 56, 0.9) !important;
}
.modal {
  background: white !important;
}
#nav-mobile {
  display: none;
}
@media (min-width: 320px) and (max-width: 992px) {
  #nav-mobile {
    display: block;
  }
  #nav-mobile a {
    padding: 0;
  }
  #nav-mobile a span {
    font-size: 18px !important;
    display: inline-block;
    margin-left: 25px;
    margin-top: -15px;
    vertical-align: middle;
  }
  #nav-mobile a i {
    font-size: 32px;
  }
}
.charCounter {
  width: 100%;
  text-align: right;
  display: inline-block;
  font-size: 16px;
  color: #ccc;
}
.charCounter.exceeded {
  color: #d50000;
}
::-webkit-input-placeholder {
  color: #ccc;
}
:-moz-placeholder {
  color: #ccc;
}
::-moz-placeholder {
  color: #ccc;
}
:-ms-input-placeholder {
  color: #ccc;
}
.cd-top {
  position: fixed;
  right: 20px;
  bottom: 5px;
  z-index: 997;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: .8;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
  bottom: 25px;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: .8;
}
.transparent-block {
  background: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.redactor_toolbar {
  list-style: disc !important;
  list-style-type: circle !important;
}
.redactor_toolbar li {
  list-style-type: circle !important;
}
.redactor_toolbar li a {
  background-color: white;
  margin-right: 3px;
  background-color: rgba(255, 255, 255, 0.25);
}
.redactor_editor ul li {
  list-style-type: disc !important;
}
footer.stickFoot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 996;
}
.listify li {
  list-style-type: disc !important;
  margin-left: 35px;
}
.rdioCats {
  width: 22px;
  height: 22px;
  padding: 0 !important;
  margin: 9px 15px 0 5px !important;
  display: inline-block;
  margin-top: 9px !important;
}
.sortable {
  -webkit-padding-start: 0 !important;
}
.sortable * {
  list-style: none;
}
.sortable li {
  margin: 10px 0;
}
.sortable li div {
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-color: #D4D4D4 #D4D4D4 #BCBCBC;
  padding: 6px 6px 6px 16px;
  margin: 0;
  cursor: move;
  background: #f6f6f6;
  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}
.sortable .ui-sortable-placeholder {
  outline: 1px dashed #4183C4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  visibility: visible !important;
}
#main-nav-bar {
  position: absolute;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.75);
}
#main-nav-bar i,
#main-nav-bar a {
  color: gray;
}
#main-nav-bar .nav-wrapper {
  background: rgba(255, 255, 255, 0.75);
}
#main-nav-bar .logo-header {
  padding: 12px 0 10px 30px !important;
  display: block;
  display: inline-block;
  width: auto;
}
@media only screen and (max-width: 992px) {
  #main-nav-bar .logo-header {
    padding: 12px 0 10px 0 !important;
  }
}
@media only screen and (max-width: 992px) {
  #main-nav-bar {
    text-align: center;
  }
}
.home-hero {
  width: 100%;
  height: 100%;
  background: url('../images/hero1.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.widget-wrapper {
  width: 90%;
  height: 330px;
  zoom: 1;
  filter: alpha(opacity=60);
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  background-color: white;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 14px rgba(107, 38, 10, 0.22);
  -moz-box-shadow: 0 0 14px rgba(107, 38, 10, 0.22);
  box-shadow: 0 0 14px rgba(107, 38, 10, 0.22);
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
