/* ==========================================================================
   Paths
   ========================================================================== */
.l-container.example.s-active .button {
  background-color: #00ccff;
  display: block;
  line-height: 42px;
}
.lt-ie8 .l-container.example.s-active .button {
  height: 42px;
}
/* ==========================================================================
   Breakpoints
   ------------------------- 
   Source: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
   ========================================================================== */
/* ========================================================================== */
/*
   element{
   
   		styless
   		
   		@media @mobile {
   		}
   		@media @tablet @highdensity{
   		}
   		@media @desktop {
   		}
   		@media @desktop-xl {
   		}
   	
   }
   */
/* ==========================================================================
      Fonts
      ========================================================================== */
@font-face {
  font-family: 'MOAM91';
  src: url('fonts/fonts/MOAM91_light.eot');
  /* IE9 Compat Modes */
  src: url('fonts/MOAM91_light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/MOAM91_light.woff') format('woff'), /* Modern Browsers */ url('fonts/MOAM91_light.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/MOAM91_light.svg#1def069febbf5fc41694b18523b67a7e') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Museo Sans 300';
  src: url('fonts/MuseoSans-300.eot');
  /* IE9 Compat Modes */
  src: url('fonts/MuseoSans-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/MuseoSans-300.woff') format('woff'), /* Modern Browsers */ url('fonts/MuseoSans-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/MuseoSans-300.svg#83308de0ca4237e6cd44fbae61d13495') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Visby CF';
  src: url('fonts/VisbyCF-Light.eot');
  /* IE9 Compat Modes */
  src: url('fonts/VisbyCF-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/VisbyCF-Light.woff') format('woff'), /* Modern Browsers */ url('fonts/VisbyCF-Light.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/VisbyCF-Light.svg#be1dfcf09435eecaffe5d1ba5ecf9eb0') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Visby CF Medium';
  src: url('fonts/VisbyCF-Medium.eot');
  /* IE9 Compat Modes */
  src: url('fonts/VisbyCF-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/VisbyCF-Medium.woff') format('woff'), /* Modern Browsers */ url('fonts/VisbyCF-Medium.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/VisbyCF-Medium.svg#3ae62bd5b7268d651203b3a1af56ccb4') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
* {
  font-weight: 300;
}
.ui-pnotify {
  left: 0 !important;
}
.ui-pnotify .btn {
  margin-bottom: 0 !important;
  color: #eeeeee;
  background-color: #9e9e9e;
}
.ui-pnotify .btn:hover {
  background-color: #616161;
}
body {
  background: #605862;
}
.alertBox {
  width: 100% !important;
  background: #eceff1 !important;
  top: 0 !important;
  color: #757575;
  left: 0 !important;
  opacity: .9;
}
.alertBox .ui-pnotify-icon {
  font-size: 18px;
  padding: 10px;
  padding-top: 5px !important;
  color: #9e9e9e;
}
@media (min-width: 300px) and (max-width: 640px) {
  .alertBox .ui-pnotify-icon {
    padding: 8px;
  }
}
.alertBox h4 {
  font-size: 26px;
  line-height: 28px;
  margin-right: 35px;
  margin-left: 38px;
}
@media (min-width: 300px) and (max-width: 640px) {
  .alertBox h4 {
    padding-top: 5px;
    font-size: 22px;
    line-height: 26px;
  }
}
.alertBox .ui-pnotify-text {
  padding-top: 5px;
  padding-left: 38px;
  padding-right: 35px;
  padding-bottom: 20px;
}
.alertBox .ui-pnotify-title {
  margin-bottom: 0 !important;
}
.alertBox .ui-pnotify-closer {
  font-size: 18px;
  padding: 12px;
  display: block;
  visibility: visible !important;
}
.alertBox .ui-pnotify-sticker {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}
.alertBox .promptInputBx {
  width: 65%;
  margin-left: 38px;
  clear: both;
  display: block;
  border-bottom: 1px solid #9e9e9e !important;
}
@media (min-width: 300px) and (max-width: 640px) {
  .alertBox .promptInputBx {
    width: 85%;
  }
}
.alertBox .promptInputBx:focus {
  border-bottom: 1px solid #bdbdbd !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.alertBox.promptBox .ui-pnotify-text {
  padding-bottom: 0px !important;
}
.alertBox.promptBox button {
  margin-top: 20px !important;
}
.alertBox.confirmBx h4 {
  margin-right: 0px;
}
.alertBox.confirmBx .ui-pnotify-text {
  padding-right: 0;
}
.alertBox input.passInput {
  -webkit-text-security: disc;
}
.blackAlertBx {
  background: black !important;
  color: white;
  opacity: .9;
  border: 1px solid black;
}
.blackAlertBx .ui-pnotify-title,
.blackAlertBx .ui-pnotify-icon {
  color: white;
}
.blackAlertBx .ui-pnotify-text {
  color: #fafafa !important;
}
.blackAlertBx .btn {
  color: #fafafa;
  background-color: #616161;
}
.blackAlertBx .btn:hover {
  color: white;
  background-color: #212121;
}
.errorAlertBx {
  background: #b71c1c !important;
  color: white;
  opacity: .9;
}
.errorAlertBx .ui-pnotify-title,
.errorAlertBx .ui-pnotify-icon {
  color: white;
}
.errorAlertBx .ui-pnotify-text {
  color: #fafafa !important;
}
.errorAlertBx .btn {
  color: #fafafa;
  background-color: #e53935;
}
.errorAlertBx .btn:hover {
  color: white;
  background-color: #d32f2f;
}
.errorAlertBx .promptInputBx {
  border-bottom: 1px solid #e0e0e0 !important;
}
.errorAlertBx .promptInputBx:focus {
  border-bottom: 1px solid white !important;
}
.successAlertBx {
  background: #00c853 !important;
  color: white;
  opacity: 1;
}
.successAlertBx .ui-pnotify-title,
.successAlertBx .ui-pnotify-icon {
  color: white;
}
.successAlertBx .ui-pnotify-text {
  color: white !important;
}
.successAlertBx .btn {
  color: #fafafa;
  background-color: #00e676;
}
.successAlertBx .btn:hover {
  color: white;
  background-color: #64dd17;
}
.successAlertBx .promptInputBx {
  border-bottom: 1px solid #e0e0e0 !important;
}
.successAlertBx .promptInputBx:focus {
  border-bottom: 1px solid white !important;
}
/*GENERAL HACKS/////////////////////////////////////////////////////////////
///////////////////////////////////////////////////*/
nav {
  background-color: transparent !important;
}
.dark-select input.select-dropdown,
.dark-select .mdi-navigation-arrow-drop-down {
  color: white;
}
.zero-auto {
  margin: 0 auto !important;
  position: relative !important;
  float: none !important;
}
.smallFa {
  font-size: 16px !important;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.bigFAicon {
  font-size: 16px !important;
}
.clearfix {
  width: 100%;
  height: 0;
  clear: both;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
input:focus:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.ui-ios-overlay {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
hr {
  height: 1px;
  background: #eceff1;
  border: none;
  display: block;
}
.brand-logo {
  line-height: 0;
  margin: 13px 0 0 30px;
}
@media only screen and (max-width: 992px) {
  .brand-logo {
    margin: 0px;
  }
}
.brand-logo-indexFile {
  line-height: 0;
  margin: 13px 0 0 0 !important;
  display: inline-block;
}
@media only screen and (max-width: 640px) {
  .brand-logo-indexFile {
    margin: 11px 0 0 0;
  }
}
.login-btns a {
  width: 100%;
  color: white;
}
.login-btns.midd-w {
  text-align: center;
}
.login-btns.midd-w a {
  width: 43%;
  display: inline-block;
  float: none;
}
@media only screen and (max-width: 768px) {
  .login-btns.midd-w a {
    width: 100%;
    clear: both;
  }
}
.login-btns .midd-w-a {
  width: 40% !important;
  margin: 0 5% 20px 5%;
  float: left;
}
.prefix {
  color: gray;
}
.white-btn-txt {
  color: white !important;
}
.button-collapse {
  padding: 0 10px;
}
.hide-on {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -200%;
  overflow: hidden;
  opacity: 0;
  z-index: -99999;
}
.userAvatar {
  display: inline-block;
  vertical-align: middle;
  margin: 30px auto;
  display: block;
  -webkit-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  -moz-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
}
.brandWiFiX {
  -webkit-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  -moz-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  width: 145px;
  height: 145px;
  background: white;
  border: 5px solid transparent;
  margin: -72px 0 0 -72px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 888;
  text-align: center;
  line-height: 135px !important;
  cursor: default;
}
@media only screen and (max-width: 400px) {
  .brandWiFiX {
    margin: -82px 0 0 -72px;
  }
}
.brandWiFiX .userAvatar {
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.brandsPic {
  text-align: center;
}
.brandsPic a {
  width: 143px;
  height: 143px;
  -webkit-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  -moz-box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
  margin: 30px;
  display: inline-block;
  padding: 10px;
  background: white;
  text-align: center;
  line-height: 115px;
}
.brandsPic a img {
  left: 0;
  display: inline-block;
  vertical-align: middle;
  max-height: 120px;
  max-width: 120px;
}
.clear-pad-marg {
  margin: 0 !important;
  padding: 0 !important;
}
.border-box {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.content-box {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.full-tabs-wrapper {
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 15px !important;
}
.nav-wrapper {
  height: 64px;
}
.adminNavBar {
  background-color: rgba(38, 50, 56, 0.9) !important;
}
.modal {
  background: white !important;
}
#nav-mobile {
  display: none;
}
@media (min-width: 320px) and (max-width: 992px) {
  #nav-mobile {
    display: block;
  }
  #nav-mobile a {
    padding: 0;
  }
  #nav-mobile a span {
    font-size: 18px !important;
    display: inline-block;
    margin-left: 25px;
    margin-top: -15px;
    vertical-align: middle;
  }
  #nav-mobile a i {
    font-size: 32px;
  }
}
.charCounter {
  width: 100%;
  text-align: right;
  display: inline-block;
  font-size: 16px;
  color: #ccc;
}
.charCounter.exceeded {
  color: #d50000;
}
::-webkit-input-placeholder {
  color: #ccc;
}
:-moz-placeholder {
  color: #ccc;
}
::-moz-placeholder {
  color: #ccc;
}
:-ms-input-placeholder {
  color: #ccc;
}
.cd-top {
  position: fixed;
  right: 20px;
  bottom: 5px;
  z-index: 997;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: .8;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
  bottom: 25px;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: .8;
}
.transparent-block {
  background: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.redactor_toolbar {
  list-style: disc !important;
  list-style-type: circle !important;
}
.redactor_toolbar li {
  list-style-type: circle !important;
}
.redactor_toolbar li a {
  background-color: white;
  margin-right: 3px;
  background-color: rgba(255, 255, 255, 0.25);
}
.redactor_editor ul li {
  list-style-type: disc !important;
}
footer.stickFoot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 996;
}
.listify li {
  list-style-type: disc !important;
  margin-left: 35px;
}
.rdioCats {
  width: 22px;
  height: 22px;
  padding: 0 !important;
  margin: 9px 15px 0 5px !important;
  display: inline-block;
  margin-top: 9px !important;
}
.sortable {
  -webkit-padding-start: 0 !important;
}
.sortable * {
  list-style: none;
}
.sortable li {
  margin: 10px 0;
}
.sortable li div {
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-color: #D4D4D4 #D4D4D4 #BCBCBC;
  padding: 6px 6px 6px 16px;
  margin: 0;
  cursor: move;
  background: #f6f6f6;
  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}
.sortable .ui-sortable-placeholder {
  outline: 1px dashed #4183C4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  visibility: visible !important;
}
#main-nav-bar {
  position: fixed;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.75);
}
#main-nav-bar i,
#main-nav-bar a {
  color: gray;
}
#main-nav-bar .nav-wrapper {
  background: rgba(255, 255, 255, 0.75);
}
#main-nav-bar .logo-header {
  padding: 12px 0 10px 30px !important;
  display: block;
  display: inline-block;
  width: auto;
}
@media only screen and (max-width: 992px) {
  #main-nav-bar .logo-header {
    padding: 10px 0 0 0 !important;
    position: absolute;
    left: 20px;
    top: 5px;
  }
}
@media only screen and (max-width: 640px) {
  #main-nav-bar .logo-header {
    font-size: 12px;
    padding: 6px 0 0 0 !important;
    position: absolute;
    left: 20px;
    top: 5px;
  }
  #main-nav-bar .logo-header img {
    height: 38px;
    width: auto;
  }
}
@media only screen and (max-width: 992px) {
  #main-nav-bar {
    text-align: center;
  }
}
.home-hero {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background: transparent;
}
.slide-widget {
  width: 100%;
  height: 330px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.widget-wrapper {
  width: 90%;
  height: 380px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 14px rgba(107, 38, 10, 0.22);
  -moz-box-shadow: 0 0 14px rgba(107, 38, 10, 0.22);
  box-shadow: 0 0 14px rgba(107, 38, 10, 0.22);
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.discover-title {
  color: white;
  font-family: "Visby CF";
  font-size: 30px;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 5px solid rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 41px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 41px;
  -moz-background-clip: padding;
  border-radius: 41px;
  background-clip: padding-box;
  width: auto;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -40px;
  letter-spacing: 2px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
}
@media only screen and (max-width: 640px) {
  .discover-title {
    font-size: 12px;
    display: inline-block;
    top: -20px;
  }
}
.products-box {
  text-align: center;
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.products-box .plan-box {
  width: 142px;
  height: 142px;
  border: 2px solid rgba(255, 255, 255, 0.18);
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  display: inline-block;
  padding: 6px 0 0 6px;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
}
.products-box .plan-box.active-selection {
  -webkit-box-shadow: inset 0 0 10px rgba(100, 36, 11, 0.3);
  -moz-box-shadow: inset 0 0 10px rgba(100, 36, 11, 0.3);
  box-shadow: inset 0 0 10px rgba(100, 36, 11, 0.3);
}
.products-box .plan-box .content-bx {
  width: 126px;
  height: 126px;
  border: 2px solid rgba(255, 255, 255, 0.18);
  -webkit-box-shadow: inset 0 0 10px rgba(100, 36, 11, 0.3);
  -moz-box-shadow: inset 0 0 10px rgba(100, 36, 11, 0.3);
  box-shadow: inset 0 0 10px rgba(100, 36, 11, 0.3);
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  display: table;
}
.products-box .plan-box .content-bx .valigny {
  display: table-cell;
  vertical-align: middle;
}
.products-box .plan-box .content-bx .valigny i {
  margin-top: 20px;
  font-size: 36px;
  color: black;
}
.products-box .plan-box .content-bx .valigny p {
  margin-top: 0px;
}
.products-box .plan-box .check-plan {
  width: 36px;
  height: 36px;
  background-color: #4ccb00;
  border: 5px solid rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  bottom: -12px;
  margin-left: -18px;
}
.products-box .plan-box .check-plan i {
  color: white;
  line-height: 25px;
}
.search-btn {
  width: 207px;
  height: 56px;
  background-color: #ff671b;
  border: 5px solid rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 53px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 53px;
  -moz-background-clip: padding;
  border-radius: 53px;
  background-clip: padding-box;
  color: white;
  font-family: "Visby CF";
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 43px;
  margin: 0 auto;
  position: absolute;
  bottom: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
}
.home-slide-bar {
  width: 95%;
  height: 35px;
  background-color: white;
  position: absolute;
  z-index: 999;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0 0 5px rgba(107, 38, 10, 0.5);
  -moz-box-shadow: 0 0 5px rgba(107, 38, 10, 0.5);
  box-shadow: 0 0 5px rgba(107, 38, 10, 0.5);
}
#blog-module {
  width: 100%;
  height: 2000px;
}
.nav-wrapper {
  color: #0a0909;
  font-family: "Visby CF";
  font-size: 0 !important;
}
.nav-wrapper .fa-twitter,
.nav-wrapper .fa-facebook {
  width: 36px !important;
  color: #55acee !important;
  display: block;
  margin: 0 !important;
  padding: 0px 0px !important;
  font-size: 18px;
  position: absolute;
  left: 10px !important;
  top: -15px !important;
}
.nav-wrapper .fa-facebook {
  color: #3b5998 !important;
  left: 12px !important;
  top: -14px;
}
.nav-wrapper .twitternav,
.nav-wrapper .facebooknav {
  width: 36px;
  height: 36px;
  display: block;
  border: 1px solid #55acee;
  -webkit-border-radius: 50px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50px;
  -moz-background-clip: padding;
  border-radius: 50px;
  background-clip: padding-box;
  margin: 15px 10px 15px 10px;
}
.nav-wrapper .twitternav:hover,
.nav-wrapper .facebooknav:hover {
  background: rgba(255, 255, 255, 0.5);
}
.nav-wrapper .facebooknav {
  border: 1px solid #3b5998;
}
.nav-wrapper .fix-pos-nav {
  padding-left: 30px;
  padding-right: 30px;
}
.nav-wrapper li {
  position: relative;
}
.nav-wrapper li a {
  color: #0a0909;
  font-family: "Visby CF";
  font-size: 20px;
}
.nav-wrapper .nav-mid-line {
  width: 1px;
  height: 15px;
  background: gray;
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  margin-top: -10px;
  opacity: .3;
}
