//IMPORTS
@import "lesshat-prefixed.less";
@import "config.less";

#user-profile-bg{
	max-width: 1920px !important;
	margin: 0 auto !important;
	zoom: 1;
	@media only screen and (max-width : 1024px) {
		max-width: 1024px !important;
	}
	@media only screen and (min-width : 1280px){
		max-width: 1920px !important;
		zoom: 1.1;
	}
	@media only screen and (min-width : 1920px){
		max-width: 1920px !important;
		zoom: 1.2;
	}
}

.select-wrapper{
	
}

.venue-prof-box{
	width: auto;
	height: auto;
	overflow: hidden;
}

nav{
	border-radius:.1px;
}

.tab{
	background: white !important;
	a{
		background-color: #fafafa !important;
		border-right: 1px solid #eeeeee;
		&.active{
			background-color: white !important;
		}
	}
	@media only screen and (max-width : 680px) {
		i{
			font-size: 18px;
		}
	}
}

.indicator{
	background-color: #bdbdbd !important;
}

.smartphone-query{
	@media only screen and (max-width : 480px) {
		padding: 0 !important;
	}
}

.brand-card{
	.brand-hero-shdw{
		position: absolute;
		left: 0;
		bottom: 6px;
		width: 100%;
		height: 60%;
		z-index: 1;
		.lh-background-image(linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 1.0)));
	}
	.card-image{
		overflow: hidden !important;
		img{
			z-index: 0 !important;
		}
	}
	.card-title{
		z-index: 2;
		font-weight: 200;
		margin-bottom: 45px !important;
		font-size: 36px;
		@media only screen and (max-width : 767px) {
			font-size: 30px !important;
			line-height: 30px !important;
			font-weight: 300;
		}
		@media only screen and (max-width : 400px) {
			font-size: 24px !important;
			font-weight: 400 !;
			line-height: 24px !important;
			font-weight: 300;
		}
	} 
	.brand-logo-card{
		.lh-size(64);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		background: rgba(255, 255, 255, .85);
		.lh-border-radius(50%) !important;
		margin: 20px;
		img{
			width: 70%;
			height: auto;
			margin: 0 auto;
		}
	}
	.badge{
		padding: 3px 8px 2px 10px !important;
		@media only screen and (max-width : 400px) {
			margin: 0 3px !important;
		}
		@media (min-width : 990px) and (max-width : 1060px) {
			padding: 3px 5px 2px 5px !important;
			margin: 0 3px !important;
		}	
	}
	.card-action{
		padding-bottom: 0 !important;
		a{
			margin-right: 5px;
			color: white;
			@media only screen and (max-width : 400px) {
					padding: 0 15px !important;
			}
			&.scoial-sqr{
				padding: 0 10px !important;
				.lh-border-radius(50%) !important;
				min-width: 10px !important;
				i{
					font-size: 18px;
					@media only screen and (max-width : 400px) {
							
							padding: 0 !important;
							margin: 0 !important;
					}
				}
			}
			&.iminius{
				i{
					font-size: 16px !important;
				}
			}
		}
		
	}
	.long-badge{
		width: 125px;
		@media only screen and (max-width : 400px) {
			width: 105px;
		}
	}
}

.badges{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 20px;
	z-index: 5;
	padding: 20px;
	padding-bottom: 10px;
	.like-stuff{
		min-width: 17px !important;
		padding: 0 !important;
		.lh-border-radius(50%) !important;
	}
}

.brand-logo-web{
	@media only screen and (max-width : 992px) {
		margin: 0px;
	}
}

#slider-home{
	ul.slides{
		height: 100% !important;
	}
	.indicators{
		z-index: 777;
		bottom: 10px;
		.active{
			background-color: #40c4ff !important;
		}
	}
}

.go-store{
	display: block;
	padding: 10px 10px 5px 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 777;
	&.apples{
	}
	&.googles{
		left: 85px;
	}
	@media only screen and (max-width : 680px) {
		display:none;
	}
}

.social-meter{
	width: 100%;
	height: 22px;
	text-align: center;
	position: relative;
	@media only screen and (max-width : 768px) {
		height: 24px;
	}
	span{
		small{
			padding: 0 10 px;
			display: inline-block;
		}
	}
	.more-pm{
		padding: 8px 10px 3px 10px;
		position: absolute;
		right: 0;
		top: -5px;
		line-height: 22px;
	}
}

.more-content-pm{
	padding: 8px 12px 14px 12px !important;
	position: absolute;
	right: 1px;
	bottom: -14px !important;
	line-height: 22px;
	.lh-border-radius(0) !important;
	i{
		font-size:16px;
	}
}

.pm-text-bx{
	position: relative;
	@media only screen and (max-width : 768px) {
		padding-top: 1px !important;
		padding-bottom: 1px !important;
	}
}

.star-rate-meter{
	width: 100%;
	text-align: center;
	color: #ffd600;
	font-size: 22px;
	line-height: 0;
	margin: 15px 0;
	padding: 0;
	span{
		margin: 0 10px;
		small{
			padding: 0 10 px;
			display: inline-block;
		}
	}
}

.tr-ribbon{
	position: absolute;
	right: -13px;
	top: 0;
	color: white;
	background: #d50000;
	display: block;
	z-index: 9;
	margin: 0;
	text-transform: uppercase;
	.lh-skewX(40);
	display: block;
	p{
		.lh-skewX(-40deg);
		padding: 3px 30px 3px 20px;
		margin: 0 !important;
	}
}

.fixed-action-btn{
	z-index: 998;
	ul{
		display: none;
	}
}

.go-brand-wifi{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: none !important;
	z-index: 5;
	/*cursor: url('../assets/img/webapp/go-profile.png') 32 32, auto;*/
}

.venue-info{
	font-size: 14px;
	line-height: 18px;
	color: white;
	margin-bottom: 0 !important;
}

.parallax-container{
	max-height: 420px;
	padding-top: 65px;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-attachment: fixed;
	.lh-background-size(cover) !important;
	.userAvatar{
		padding: 15px;
		margin: 0 auto !important;
		z-index: 5;
		position: relative;
		background: rgba(255, 255, 255, .80);
	}
	.brand-hero-shdw{
		position: absolute;
		left: 0;
		bottom: 37px;
		width: 100%;
		height: 75%;
		z-index: 1;
		.lh-background-image(linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, .90)));
	}
	.parallax{
		img{
			.lh-background-size(cover, 100%);
		}
	}
	@media only screen and (max-width : 400px) {
		max-height: 320px;
		padding-top: 35px;
	}
}

#profile-actions{
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 20;
	h1{
		color: white;
		font-weight: 100;
		font-size: 46px;
		padding-left: 15px;
		padding-bottom: 10px;
		margin: 0;
		@media only screen and (max-width : 400px) {
		padding-bottom: 0px;
			font-size: 28px !important;
		}
	}
	.badges{
		width: 100%;
		position: relative;
		left: 0;
		z-index: 5;
		padding: 16px;
		padding-bottom: 10px;
		.badge{
			padding: 3px 8px 2px 10px !important;
		}
	}
	#content-info{
		.btn{
			display: block !important;
			width: 33% !important;
			color: white;
			margin: 0 !important;
			padding: 0 !important;
			float: left;
			.lh-border-radius(0) !important;
			.lh-drop-shadow(none) !important;
			.lh-box-shadow(none) !important;
			&.central-btn{
				margin: 0 1px !important;
			}
			&.left-btn-p{
				margin-left: 1px !important;
			}
			&.right-btn-p{
				margin-right: 1px !important;
			}
			@media only screen and (max-width : 400px) {
				font-size: 10px !important;
			}
			@media (min-width : 645px){
				width: 33.1% !important;
			}
			@media (min-width : 800px) {
				width: 33.2% !important;
			} 
		}
	}
}

.sucursales-venue, .comments-venue{
	.select-dropdown{
		color: white !important;
		border: none !important;
		font-size: 24px !important;
		padding-left: 10px !important;
		margin-bottom: 5px !important;
	}
	i{
		color: white !important;
	}
	.input-field{
		margin: 0 !important;
	}
	.select-wrapper{
		margin-top: 5px !important;
		background: url("../assets/img/webapp/select-arrw.png") no-repeat center right;
		background-size: 20px 8px;
		i{
			display: none;
		}
	}
	select {
	    border: none;
	    box-shadow: none;
	    background-color: #40c4ff;
	    background-image: none;
	    .lh-appearance(none);
	    color: white;
	    font-size: 20px;
	    margin: 5px 0 !important;
	    background: url("../assets/img/webapp/select-mobile.png") no-repeat center right;
	    background-size: 9px 14px;
	    &:focus {
	        outline: none !important;
	        border: none !important;
	    }
	}
}

.comments-venue{
	select {background: none;}
}

.venue-prof-box{
	margin: 0 auto !important;
	.venue-pic-box{
		height: 120px;
		.scroll-slider-gallery{
			width: 200%;
			height: 120px;
		}
		&.overflow-on{
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
		}
		&.overflow-off{
			overflow-x: visible;
			-webkit-overflow-scrolling: touch;
		}
	}
	.material-placeholder{
		width: 120px;
		height: 120px;
		margin: 0;
		padding: 0;
		float: left;
	}
	.tag-line-box{
		min-height: 90px;
		@media only screen and (max-width : 480px) {
		 min-height: 10px;
		}
	}
	.border-location{
		position: relative;
		padding-left: 55px;
		border-left: 6px solid #656565;
		i{
			font-size: 20px;
			position: relative;
			left: 0px;
			top: 0;
			margin-left: -35px;
			color: #cbcbcb;
			margin-right: 5px;
		}
	}
	.border-tel{
		position: relative;
		padding-left: 55px;
		border-left: 6px solid #00e000;
		i{
			font-size: 20px;
			position: relative;
			left: 0px;
			top: 0;
			margin-left: -35px;
			color: #cbcbcb;
			margin-right: 5px;
		}
	}
	.border-web{
		position: relative;
		padding-left: 55px;
		border-left: 6px solid #289df3;
		i{
			font-size: 20px;
			position: relative;
			left: 0px;
			top: 0;
			margin-left: -35px;
			color: #cbcbcb;
			margin-right: 5px;
		}
	}
	.border-face{
		position: relative;
		padding-left: 55px;
		border-left: 6px solid #3b5998;
		i{
			font-size: 20px;
			position: relative;
			left: 0px;
			top: 0;
			margin-left: -35px;
			color: #cbcbcb;
			margin-right: 5px;
		}
		a{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
		}
	}
	.border-tweet{
		position: relative;
		padding-left: 55px;
		border-left: 6px solid #1cb7eb;
		i{
			font-size: 20px;
			position: relative;
			left: 0px;
			top: 0;
			margin-left: -35px;
			color: #cbcbcb;
			margin-right: 5px;
		}
		a{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
		}
	}
}

.venue-map-embed{
	iframe{	
		width: 100% !important;
		height: 200px !important;
	}
}

.comment-bx{
	position: relative;
	.avatar-c-bx{
		margin: 8px 8px 8px 0;
		position: relative;
		width: 36px;
		height: 36px;
		img{
			border: 2px solid white;
		}
	}
}

.comment-input{
	border-left: 4px solid gray;
	p{
		padding-left: 20px;
		padding-right: 20px;
	}
}


.clear-web-pad-marg{
	padding: 0 !important;
	margin: 0 !important;
}

.square-btn-bx{
	min-width: 40px;
	padding: 0 12px;
	text-align: center;
	margin: 0px 5px 10px 5px !important;
}

#lealtad{
	.lealtad-countr{
		text-align: center;
		height: 100px;
		h4{
			width: 100%;
			display: inline-block !important;
			text-align: center;
			float: none;
		}
	}
	.cpon-bx{
		height: 100px !important;
		overflow: hidden;
		.btn-more-loyal{
			padding: 0px 10px;
			margin: 8px;
			display: table;
			i{
				text-align: center;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}

.toothme-actions-hero{
	width: 100%;
	position: absolute;
	left: 0;
	top: 40%;
	background: none !important;
	z-index: 10;
	border: none !important;
	text-align: center;
	opacity: .8;
	a{
		display: inline-block;
	}
	@media only screen and (max-width: 500px) {
			top:45%;
	}
}

.card-content{
	position: relative;
}

.card-image .slider{
	height: 200px;
	z-index: 0;
	.slides{
		width: 100%;
		height: 200px;
	}
	.indicators{
		background: rgba(0, 0, 0, .3);
		z-index: 9;
		li{
			width: 8px !important;
			height: 8px !important;
		}
		.indicator-item.active{
			background-color: #3FC4FF !important;
		}
	}
}

.scoial-sqr{
	padding: 0 10px !important;
	.lh-border-radius(50%) !important;
	min-width: 10px !important;
	i{
		font-size: 18px;
		color: white;
		@media only screen and (max-width : 400px) {
				padding: 0 !important;
				margin: 0 !important;
		}
	}
}

.card-reveal{
	i{
		margin-left: 0 !important;
	}
}

.page-footer{
	position: relative;
	z-index: 888;
}




















